.modal-custom {
    background-color: transparent;
    left: 12%;
}
.modal-custom .btn-primary { 
    border: none;
    background-color: var(--primary-color);
    transition: opacity .2s linear;
}

.modal-custom .btn-primary:disabled,
.modal-custom .btn-primary:hover {
    opacity: .8;
}

/* Content Modal */
.form-control_custom {
    padding: 3px 0;
}
.input-password_icon {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 1.1rem;
    cursor: pointer;
}

.form-control_error {
    outline: 1px solid red!important;
}